.detail__container {
  position: relative;
  min-width: 220px;
  min-height: 300px;
  width: 50vw;
  height: 50vh;
}

.detail__card {
  margin: 0.5rem 0;
  padding-bottom: 3rem;
}

.detail__close-dialog {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 100;
}
.detail__spinner {
  margin: 10px auto;
}

.detail__fav {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
