<footer class="footer">
  <span id="footer__legend"></span>
  <p>
    <a
      class="link footer__link"
      href="https://twitter.com/GusGusdev"
      target="_blank"
    >
      <fa-icon [icon]="faTwitter"> </fa-icon>
    </a>
    <a
      class="link footer__link"
      href="https://github.com/gusram01"
      target="_blank"
    >
      <fa-icon [icon]="faGithub"> </fa-icon>
    </a>
    <span
      >Repo:
      <a
        class="link footer__link"
        href="https://github.com/gusram01/project-videos"
        target="_blank"
      >
        API-Movies Info
      </a>
    </span>
  </p>
  <p>
    Wallpaper from
    <a
      class="link link_footer-login"
      href="https://www.pexels.com/photo/black-and-white-labeled-box-3945313/"
      target="_blank"
      >Pexels®</a
    >
    by
    <a
      class="link link_footer-login"
      href="https://www.pexels.com/@cottonbro"
      target="_blank"
      >cottonbro</a
    >
  </p>
</footer>
