<footer class="footer">
  <span id="footer__legend">
    {{ legend }}
  </span>
  <p>
    <a
      mat-icon-button
      color="primary"
      class="link footer__link"
      href="https://twitter.com/GusGusdev"
      target="_blank"
    >
      <fa-icon [icon]="faTwitter"> </fa-icon>
    </a>
    <a
      mat-icon-button
      color="primary"
      class="link footer__link"
      href="https://github.com/gusram01"
      target="_blank"
    >
      <fa-icon [icon]="faGithub"> </fa-icon>
    </a>
  </p>
  <p>
    <span
      >Repo:
      <a
        mat-button
        class="link footer__link"
        href="https://github.com/gusram01/videos-ng.git"
        target="_blank"
      >
        API-Movies Info
      </a>
    </span>
    <!-- Wallpaper from
    <a
      mat-button
      class="link link_footer-login"
      href="https://www.pexels.com/photo/black-and-white-labeled-box-3945313/"
      target="_blank"
      >Pexels®</a
    >
    by
    <a
      mat-button
      class="link link_footer-login"
      href="https://www.pexels.com/@cottonbro"
      target="_blank"
      >cottonbro</a
    > -->
  </p>
</footer>
