<footer class="footer">
  <span id="footer__legend">
    {{ legend }}
  </span>
  <p>
    <a
      mat-icon-button
      color="primary"
      class="link icon"
      [href]="urlLink | secured"
      target="_blank"
    >
      <fa-icon [icon]="faLinkedin"> </fa-icon>
    </a>
    <a
      mat-icon-button
      color="primary"
      class="link icon"
      [href]="urlTwit | secured"
      target="_blank"
    >
      <fa-icon [icon]="faTwitter"> </fa-icon>
    </a>
    <a
      mat-icon-button
      color="primary"
      class="link icon"
      [href]="urlGit | secured"
      target="_blank"
    >
      <fa-icon [icon]="faGithub"> </fa-icon>
    </a>
  </p>
  <p>
    <span
      >Repo:
      <a
        mat-button
        class="link footer__link"
        [href]="urlRepo | secured"
        target="_blank"
      >
        Ng-videos
      </a>
    </span>
  </p>
</footer>
