.form__container {
  display: grid;
  grid-template-columns: minmax(280px, 380px);
  justify-content: center;
  width: 100%;
  padding-top: 1rem;
}
.form__card {
  width: 90%;
  max-width: 380px;
  margin: 0 auto;
}

.form__body {
  width: 100%;
  margin: 0;
}

.form__item {
  width: 100%;
}

.mat-card-actions.form__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
}

.actions__links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
}
.actions__button {
  width: 100%;
  text-align: center;
}

.actions__button.mat-raised-button {
  margin: 0;
}
