<div class="search-bar__container mat-elevation-z4" [ngClass]="{ hide: hide }">
  <form [formGroup]="search" (ngSubmit)="onSubmit()" class="search-bar__form">
    <mat-form-field appearance="outline">
      <mat-label>Search movie</mat-label>
      <input
        type="text"
        matInput
        placeholder="Enter your search"
        formControlName="title"
      />
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
      <mat-error>This field with at least 3 characters</mat-error>
    </mat-form-field>
  </form>

  <div class="search-bar__actions">
    <button mat-button>Clear</button>
    <button mat-button>Favorites</button>
    <button mat-button (click)="logout()">Logout</button>
  </div>
</div>
