.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  padding: 2rem 1rem 3rem;
}
.movies__container {
  column-count: 3;
  column-width: 250px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;
}
